fastapi
uvicorn[standard]
sqlalchemy
asyncpg
passlib[bcrypt]
pydantic
pydantic-settings
email-validator
python-multipart
python-jose[cryptography]
fpdf2
python-dotenv
pandas
numpy
joblib
scikit-learn
xgboost
imbalanced-learn
qrcode[pil]
requests
Pillow
matplotlib
httpx
